<section class="create">
  <div class="board-info">
    <h4>SPRINT RETROSPECTIVE</h4>
    <h2>Criar Retrospective</h2>
  </div>
  <div class="inputs">
    <form [formGroup]="modalForm" novalidate>
      <div class="form-group">
        <div class="messages">
          <small class="text-danger" *ngIf="hasError('name', 'required')"
            >*Campo obrigatório</small
          >
          <small class="text-danger" *ngIf="hasError('name', 'minlength')"
            >*Tamanho mínimo de 2 caracteres</small
          >
        </div>
        <input
          placeholder="Nome da Release"
          class="form-control"
          formControlName="name"
          type="text"
        />
        <input
          placeholder="Nome da Sprint"
          class="form-control"
          formControlName="sprint"
          type="text"
        />
      </div>
    </form>
  </div>
  <div class="menu-board">
    <a class="btn-create" (click)="createBoard()"
      ><span id="ok" class="material-icons-outlined"> add </span>Criar</a
    >
  </div>
</section>
